{% extends 'app/base.html' %}

{% block order_complete %}


<div class="container">
    <div class="py-5 text-center">
      <h1 class="mb-3 fs-1">Đặt hàng thành công</h1>
      <p class="lead">Cảm ơn bạn đã mua hàng!</p>
    </div>
  
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title fs-3">Mã đơn hàng: {{ order.id }}</h5>
            <h5 class="card-title fs-5">Họ và tên: {{ shipping_address.order.customer.first_name }} {{ shipping_address.order.customer.last_name }}</h5>
            <h5 class="card-title fs-5">Địa chỉ: {{ shipping_address.street_address }}, {{shipping_address.city}}, {{shipping_address.state}}, Việt Nam</h5>
            <h5 class="card-title fs-5">Số điện thoại: {{ shipping_address.mobile }}</h5>
            <hr>
            <p class="card-text fs-5">Thông tin đơn hàng:</p>
            <table class="table">
              <thead>
                <tr>
                  <th class="fs-4">Tên sản phẩm</th>
                  <th class="text-center fs-4">Số lượng</th>
                  <th class="text-right fs-4">Đơn giá</th>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                  <td class="fs-5">{{ item.product.name }}</td>
                  <td class="text-center fs-5">{{ item.quantity }}</td>
                  <td class="text-right fs-5">{{ item.product.price }} VND</td>
                </tr>
                {% endfor %}
                <tr>
                  <hr>
                  <td colspan="2" class="text-right fs-4"><strong>Tổng giá:</strong></td>
                  <td class="text-right fs-4">{{ order.get_cart_total }} VND</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  


{% endblock order_complete %}
