{% extends 'app/base.html' %}
{% load static %}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'app/css/register.css' %}">
    
  </head>
  <body class="text-center">
    {% block register %}
    {% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Warning!</strong> This is a warning alert—check it out!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    
 <div class="container ">
    <div class="row">
      <div class="col-lg-5 col-xl-5 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden bg-secondary bg-gradient-info">
       
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-1 text-white">Đăng ký</h5>
            <form method="POST" action="">
              {% csrf_token %}
              
              <div class="form-row form-control bg-light fs-4">
               
                  <label for="id_username">Tên tài khoản</label>
                  <div class="input-wrapper">
                    {{ form.username }}
                  </div>
                </div>
                <br>
                <div class="form-row form-control bg-light fs-4">
                  <label for="id_email">Email</label>
                  <div class="input-wrapper">
                    {{ form.email }}
                  </div>
                </div>
             
                <br>
           
                <div class="form-row form-control bg-light fs-4">
                  <label for="id_first_name">Họ</label>
                  <div class="input-wrapper">
                    {{ form.first_name }}
                  </div>
                </div>
                <br>
                <div class="form-row form-control bg-light fs-4">
                  <label for="id_last_name">Tên</label>
                  <div class="input-wrapper">
                    {{ form.last_name }}
                  </div>
                </div>
                <br>
              
              <div class="form-row form-control bg-light fs-4">
               
                  <label for="id_password1">Mật khẩu</label>
                  <div class="input-wrapper">
                    {{ form.password1 }}
                </div>
              </div>
              <br>
                <div class="form-row form-control bg-light fs-4">
                  <label for="id_password2">Nhập lại mật khẩu</label>
                  <div class="input-wrapper">
                    {{ form.password2 }}
                  </div>
                </div>
                <br>
                <br>
                <button type="submit" class="btn btn-primary btn-lg fs-1 btn-custom">Đăng ký</button>
                <br>
             
                <br>
              <p class="text-center text-white fs-3">Bạn đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập</a></p>

            </form>
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>    

  {% comment %} {% block register %}
  <form method="POST", action="">
    {% csrf_token %}
    {{ form.as_p }}
    <br><br>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>  {% endcomment %}

 
     {% endblock register %}
  </body>
</html>